<section
  class="flex justify-center items-center bg-cover bg-center bg-primary-darkViolet px-[30px] mobile:px-0 py-[55px]"
  [ngStyle]="{ 'background-image': backgroundImage }"
>
  <section class="flex flex-col justify-center items-center gap-[35px]">
    <h1
      class="text-white text-[25px] mobile:text-[30px] tablet:text-[40px] font-bold leading-none"
    >
      Boost your links today
    </h1>
    <button
      class="bg-primary-cyan text-white px-[50px] py-[15px] rounded-full hover:bg-primary-cyanHover transition-all ease-in-out duration-300 text-[15px] mobile:text-[16px] tablet:text-[18px]"
    >
      Get Started
    </button>
  </section>
</section>
